<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bloggy</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body class="font-serif">
    <div class="h-screen w-screen bg-paper">
      <%- include('partials/nav/index') %>
      <div class="text-center m-7">
        <h1 class="text-5xl">Bloggy</h1>
        <p class="font-bold italic p-5">
          A place for blogging. Blog anything you like on this blogging site.
          Blog on!
        </p>
      </div>
      <%- include('partials/footer/index') %>
    </div>
  </body>
  <script>
    const el = document.getElementById("login-avatar");
    fetch("user/me")
      .then((res) =>
        res.json().then((res) => {
          res.passport ? setLogin(res.passport.user.name.givenName) : null;
        })
      )
      .catch((err) => console.log(err));

    const setLogin = (name) => {
      let el = document.getElementById("login");
      el.firstElementChild.innerHTML = `Welcome, ${name}!`;
      el.firstElementChild.setAttribute("href", "profile")
    };
  </script>
</html>
