<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CM2040 Template</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="h-screen w-screen">
      <%- include('partials/nav/index') %>
      <div class="text-center m-7">
        <h1 class="text-blue-500 text-5xl">Bloggy</h1>
        <p class="text-gray-500 text-sm p-5">A place for blogging. Blog anything you like on this blogging site. Blog on!</p>

      </div>
      <%- include('partials/footer/index') %>
    </div>
  </body>
</html>
