<%- include("partials/head") %>
      <div class="text-center m-7">
        <h1 class="text-5xl">Bloggy</h1>
        <p class="font-bold italic p-5">
          A place for blogging. Blog anything you like on this blogging site.
          Blog on!
        </p>
      </div>
     
      <%- include("partials/footer/index") %>