
<%- include('partials/head') %>
<div class="p-5">
    <h1>Profile</h1>
    <ul>
        <li>Published blogs</li>
        <li>Draft blogs</li>
        

    </ul>
</div>
<%- include('partials/footer/index') %>
