<footer>
  <div>
    <p class="text-center">
      Made by
      <a
        class="text-blue-500 underline"
        href="https://thiha.net"
        target="_blank"
        >Thiha Swan Htet</a
      >
      (the best programmer in the world!)
    </p>
  </div>
</footer>
