<nav class="p-3">
  <div class="flex flex-row flex-wrap items-center justify-between">
    <ul class="flex flex-row flex-wrap items-center justify-start gap-3">
      <%- include('nav-item', {href: "#", text: "link 1"}) %> <%-
      include('nav-item', {href: "#", text: "link 2"}) %> <%-
      include('nav-item', {href: "#", text: "link 3"}) %>
    </ul>
    <ul class="flex flex-row flex-wrap items-center justify-start gap-3">
      <%- include('nav-item', {href: "#", text: "login"}) %>
    </ul>
  </div>
</nav>
