<nav class="p-3">
  <div class="flex flex-row flex-wrap items-center justify-between">
    <ul class="flex flex-row flex-wrap items-center justify-start gap-3">
      <%- include('nav-item', {href: "/", text: "home"}) %> <%-
      include('nav-item', {href: "/blogs", text: "blogs"}) %> <%-
      include('nav-item', {href: "#", text: "link 3"}) %>
    </ul>
    <ul id="login" class="flex flex-row flex-wrap items-center justify-start gap-3">
        <%- include('nav-item', {href: "login", text: "login"}) %>
    </ul>
  </div>
</nav>